<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="JTPlan.Calendar" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="JTPlan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="JTPlan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<userSettings>
		<JTPlan.Calendar>
			<setting name="days" serializeAs="String">
				<value>Po,Út,St,Čt,Pá,So,Ne</value>
			</setting>
		</JTPlan.Calendar>
		<JTPlan.Properties.Settings>
			<setting name="Database" serializeAs="String">
				<value>calendar.db</value>
			</setting>
			<setting name="Days" serializeAs="String">
				<value>Po,Út,St,Čt,Pá,So,Ne</value>
			</setting>
			<setting name="Login" serializeAs="String">
				<value>ftp132710</value>
			</setting>
			<setting name="Months" serializeAs="String">
				<value>Leden,Únor,Březen,Duben,Květen,Červen,Červenec,Srpen,Září,Říjen,Listopad,Prosinec</value>
			</setting>
			<setting name="Password" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="RemoteChanged" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="Scratch" serializeAs="String">
				<value>Škrtátko na poznámky</value>
			</setting>
			<setting name="Server" serializeAs="String">
				<value>test.janturon.cz</value>
			</setting>
		</JTPlan.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<JTPlan.Properties.Settings />
	</applicationSettings>
</configuration>